<ul>
  <% posts.each(function (post) { %>
    <li class="post">
      <a href="#/posts/<%= post.escape("id") %>">
        <%= post.escape("title")%>
      </a><img src="/assets/remove.png" id="remove">
    </li>
  <% }); %>
</ul>

<a href="#/posts/new">New Post!</a>