<div>
  <h1>New Post</h1>
  <form>
  <label for="post_title">Title</label>
  <input name="post[title]" id="post_title">
  <br>
  <label for="post_body">Body</label>
  <input name="post[body]" id="post_body">
  <br>
  <button class="submit">Submit!</button>
  <br>
  <button class="cancel">Cancel!</button>
  </form>
</div>